<footer class="footer footer-expand-sm sticky-bottom d-flex position-fixed">
    <div class="terms d-flex gap-4 m-2">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>   
        <div class="social-icon footer-item d-flex flex-start gap-4 ml-4">
        <a href="#"><i class="fa fa-facebook-square "></i></a>
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/mohammad-tahir-a0a150273/"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://github.com/motahir76270"><i class="fa fa-github-square"></i></a>
         </div>
         <div class="rights footer-item">
            &copy; 2022 My Website. All rights reserved.
         </div>
</footer>